[submodule "vim/pack/kc00l/start/vim-surround"]
	path = vim/pack/kc00l/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/kc00l/start/vim-commentary"]
	path = vim/pack/kc00l/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
